.admin-layout-container {
  margin: 2.5em;
}

.admin-container {
  width: 100%;
  padding: 3em 2.5em;
}

.path-admin th.checkbox {
  margin: -1px 0 0 0;
}

.path-admin .form-type-number input.form-number {
  padding: 5px 5px 5px 10px;	
}

/***Content***/
.path-admin .views-element-container > .view > .view-filters > form.views-exposed-form > .form--inline > .js-form-item > input {
  margin: 0;
}

/***Structure***/
/***Structure-------Contact Forms***/
.path-admin form#entity-form-display-edit-form > #field-display-overview-wrapper > table#field-display-overview > tbody > tr > td > .ajax-new-content > .js-form-wrapper > .form-actions > .button {
  margin: 0 0 10px 0;
}

/***Structure-------Content Types***/
.path-admin form#field-ui-field-storage-add-form > #edit-add > #edit-separator {
  margin-top: 3em;
}

.path-admin form#entity-form-display-edit-form table#field-display-overview .field-plugin-settings-edit-wrapper > input,
.path-admin form#entity-view-display-edit-form table#field-display-overview .field-plugin-settings-edit-wrapper > input {
  width: 25px;
  height: 25px;
}

.path-admin form#entity-view-display-edit-form > #field-display-overview-wrapper > table#field-display-overview > tbody > tr > td > .ajax-new-content > .js-form-wrapper > .form-actions > .button {
  margin: 0 0 10px 0;
}

/***Structure-------Views***/
.path-admin #view-edit-form > #edit-displays > #edit-display-settings .label {
  color: #656565;
  padding: 0;
  font-size: 100%;
  font-weight: 500;
  line-height: 20px;
  margin-left: 15px;
}

.path-admin #view-edit-form > #edit-displays > #edit-display-settings h3.views-ui-display-tab-bucket__title {
  padding: 8px 6px 8px;
}

.path-admin #view-edit-form > #edit-displays > #edit-display-settings .pager {
  margin: 0;
  text-align: left;
}

/***Structure------WissKI Entities and Bundles***/
.path-admin form#field-config-edit-form > details > .details-wrapper > div > .js-form-item > table.field-multiple-table > thead > tr > th > h4.label {
  color: #656565;
}

.path-admin form#wisski-bundle-title-form > div#wisski-title-table > table > tbody > tr > td.empty.message {
  padding: 10px 0;
}

.path-admin form#wisski-bundle-title-form > fieldset > .fieldset-wrapper > input.button {
  margin: 1px 0;
  }

.path-admin form#wisski-bundle-title-form > div#wisski-title-table > table > tbody > tr > td > .js-form-item > input {
  padding: 5px;
  max-width: 250px;
}

.path-admin form#entity-form-display-edit-form > div > table#field-display-overview > tbody > tr > td > .js-form-item > select {
  padding: 5px;
  width: 100%;
}

/*Other*/
.path-admin dl > dd {
  margin-bottom: 0.5em;
}

.path-admin input.button {
  margin-left: 0;
  }

.path-admin .ckeditor-buttons li .cke-icon-only {
    width: 30px;
}

.path-admin .js-form-item > .vertical-tabs > .vertical-tabs__panes > details > .details-wrapper {
  padding: 1em;
}

.path-admin table input {
  width: auto;
}

.path-admin table input[type="checkbox"] {
  max-width: 20px;
}

