/***Content***/
.user-logged-in.path-node form.node-form {
  display: flex;
  flex-direction: column;
}

.user-logged-in.path-node form.node-form > #edit-title-wrapper {
  order: 1;
}

.user-logged-in.path-node form.node-form > #edit-body-wrapper {
  order: 2;
}

.user-logged-in.path-node form.node-form > div[id^="edit-field"] {
  order: 3;
}

.user-logged-in.path-node form.node-form > .form-type-vertical-tabs {
  order: 4;
}

.user-logged-in.path-node form.node-form > #edit-footer {
  order: 5;
}

.user-logged-in.path-node form.node-form > #edit-actions {
  order: 6;
}


.user-logged-in.path-node .js-form-item > .vertical-tabs > .vertical-tabs__panes > details > .details-wrapper {
  padding: 1em;
}

/***Structure***/
/***Structure-------Blocklayout***/
.user-logged-in.path-block form#block-content-basic-form > .js-form-item > .vertical-tabs > .vertical-tabs__panes > details > .details-wrapper {
  padding: 1em;
}


