/* ---------------- Elements ---------------*/
a,
a.link {
  text-decoration: none;
}

a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration: none;
}

.link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-weight:700px
}

h1, 
h2 {
  color: #333;
}

h1 .field--type-string, 
h2 .field--type-string {
  background: transparent;
  padding: 0;
}

h1 a,
h2 a {
  border-bottom: none;
}

/**
 * Reusable heading classes are included to help modules change the styling of
 * headings on a page without affecting accessibility.
 */
h1,
.heading-a {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.3em;
}

h2,
.heading-b {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.2em;
}

h3,
.heading-c {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.1em;
}

h4,
.heading-d {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.1em;
}

h5,
.heading-e {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h6,
.heading-f {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

p {
  margin: 0 0 1.2em;
}

del {
  text-decoration: line-through;
}

blockquote {
  background: #f7f7f7;
  border-left: 1px solid #bbb; /* LTR */
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

[dir="rtl"] blockquote {
  border-left: none;
  border-right: 1px solid #bbb;
}

blockquote:before {
  color: #bbb;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em; /* LTR */
  vertical-align: -0.4em;
}

[dir="rtl"] blockquote:before {
  content: "\201D";
  margin-left: 0.2em;
  margin-right: 0;
}

blockquote:after {
  color: #bbb;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.45em;
}

[dir="rtl"] blockquote:after {
  content: "\201C";
}

blockquote > p:first-child {
  display: inline;
}

.feed-icon {
  display: block;
  margin: 25px 0 0 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul, 
ol {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}

[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 1em 0.25em 0;
}

ol ol,
ul ul {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}

[dir="rtl"] ol ol,
[dir="rtl"] ul ul {
  padding: 0 1em 0.25em 0;
}


/* ----------------- Buttons ---------------*/
.button {
  border-radius: 0;
  text-shadow: 0 1px 0 #fff;
  background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  color: #333;
  background-color: #fff;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}

.button:hover,
.button:active,
.button:focus {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.button.is-disabled:hover,
.button.is-disabled:active,
.button.is-disabled:focus,
.button.is-disabled {
  background: #ededed;
  border-color: #bbb;
  color: #717171;
  cursor: default;
}

#edit-export {
  display: block; 
  margin: 0;
}

/* -------------- DropButtons ---------------*/
.js .dropbutton-widget {
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-image: linear-gradient(to bottom,rgb(250, 250, 250),rgb(232,232,232));
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.6);
  display: inline-block;
}

.js .dropbutton-widget:hover {
  border-color: #e4e4e4 #d2d2d2 #b4b4b4 #d2d2d2;
}

.js .dropbutton-widget .dropbutton-action a,
.js .dropbutton-widget .dropbutton-action input,
.js .dropbutton-widget .dropbutton-action button {
  padding: 3px 1em;
}

.js .dropbutton .dropbutton-action:hover,
.js .dropbutton a:hover {
  background-image: linear-gradient(to bottom,rgb(250,250,250),rgba(232, 232, 232, 0.39));
  border-bottom: 0 none;
}


/* -------------- Listgroup ---------------*/
.list-group__link {
  border-top: 1px solid #ccc;
  padding: 7px 0 0;
}
.list-group__description {
  margin: 0 0 8px;
}

/* ------------ Form -----------*/
details,
fieldset,
.filter-wrapper {
  border: none;
}

.fieldset-wrapper {
  display: inline-block;
  float: left;
}

details > .details-wrapper {
  padding: 0.5em 0;
  border-top: 1px solid #f1f1f1;
}

summary {
  color: #337ab7;
  padding: 0.5em 0;
}

summary[aria-expanded="false"]:before {
  content: ' \2193 ';
  margin-right: 0.5em;
  color: #999;
}

summary[aria-expanded="true"]:before {
  content: ' \2191 ';
  margin-right: 0.5em;
  color: #999;
}

legend {
  font-size: 1em;
  border: none;
  display: inline-block;
  width: 20%;
  float: left;
  margin-bottom: 1.5em;
}

label {
  display: table;
  font-weight: bold;
}

input {
  margin: 2px 0;
  padding: 4px;
  max-width: 100%;
  box-sizing: border-box;
}

input,
textarea {
  font-size: 0.929em;
}

textarea.form-textarea,
select.form-select {
  padding: 3px;
}

#edit-advanced-bundles-auto-bundle-input-field {
  height: 34px;
}

input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-file,
input.form-number,
input.form-color,
input.form-checkbox,
textarea.form-textarea,
select.form-select,
.js input.form-autocomplete {
  border-radius: 0px;
  border: 1px solid #dcdcdc;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  cursor: pointer;
  color: #666666;
  font-size: 1em;
  font-weight: normal;
  padding: 5px 100px 5px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

input.form-text:focus,
input.form-tel:focus,
input.form-email:focus,
input.form-url:focus,
input.form-search:focus,
input.form-file:focus,
input.form-number:focus,
input.form-color:focus,
input.form-checkbox:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

/* ------------ Tables -----------*/
table {
  font-family: CorpoSregular,Arial,sans-serif;
  font-size: 1.2em;
  margin: 10px 0;
  width: 100%;
}

th {
  text-align: left; /* LTR */
  padding: 10px 12px;
}

[dir="rtl"] th {
  text-align: right;
}

thead th {
  background-image: linear-gradient(to bottom,#fafafa,#e8e8e8);
  border: solid #ccc;
  border-top-color: #e0e0e0;
  border-width: 1px 0;
}

tr {
  padding: 0.1em 0.6em;
}

td,
th {
  vertical-align: middle;
}

td {
  padding: 10px 12px;
  text-align: left; /* LTR */
}

[dir="rtl"] td {
  text-align: right;
}

tr.region-title {
  font-size: 1.2em;
}

tr.region-title > td {
   padding-top: 14px;
}

table#permissions td, 
table#permissions th {
  width: 55%; 
  max-width: 55%; 
  float: left; 
  margin: 0;
}

table#permissions td.checkbox, 
table#permissions th.checkbox {
  width: 15%; 
  max-width: 15%; 
  float: left;  
  margin: 0;
}

form#user-admin-permissions table.sticky-header th {
  width: 55% !important; 
  max-width: 55% !important; 
  float: left !important; 
  display: inline-block;  
  margin: 0;
}

form#user-admin-permissions table.sticky-header th.checkbox {
  width: 15% !important; 
  max-width: 15% !important; 
  float: left !important; 
  display: inline-block;  
  margin: 0;
}





/* ------------ Pager Links -----------*/
.pager li > a, .pager li > span {
  border-radius: 0;
  text-shadow: 0 1px 0 #fff;
  background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  color: #333;
  background-color: #fff;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}

.pager li > a:focus, .pager li > span:focus, .pager li > a:hover, .pager li > span:hover {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
