/*-------- Page title --------*/
.page-title {
  font-size: 1.5em;
  line-height: 1em;
  font-family: CorpoSregular,Arial,sans-serif;
}


/*-------- Panel ----------*/
.panel-row {padding:0;}

.panel-body {
  background: #f8f8f8;
  color: #333;
  font-size: 14px;
  padding: 10px 15px;
  height:20em;
  overflow:hidden;
}

.panel-body img {
  max-height:15em;
}

.panel-body img.align-left {
  margin-right:1em;
}

.panel-body img.align-right {
  margin-left:1em;
}


.panel-body .caption img {
  max-height:13em;
}

.panel-body .caption figcaption {
  font-size:12px;
  font-style:italic;
}

.panel-footer {
  background-color: #efefef;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: none;
  text-align:right;
  font-weight:bold;
  font-size: 14px;
  padding: 10px 15px;
  min-height: 43px;
}

.panel-footer a {
 color:#333;
}

.panel-footer a:focus, .panel-footer a:hover {
 color:#fff;
 background-color: #333;
}

.panel .field--type-string {
  background:transparent;
  padding:0;
}

/*-------- Site-Branding ----------*/
.site-branding {
  margin:3em 0 2em;
}

/*-------- Search Form Header --------*/
#quick_search #search-block-form {
  float:right;
}

#quick_search #search-block-form .form-search {
  height:34px;
  width:200px;
}

#quick_search #search-block-form .form-submit {
  float:right;
  margin-left:0.5em;
}

/*------------- Breadcrumb --------------*/
.breadcrumb {
    padding: 0;
    margin: 1em 0 1.5em;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    color: #999;
    font-size: 1em;
}

.breadcrumb li::before {
    content: ' \3E ';
}

.breadcrumb a {
   color: #999;
}


/*------------- Tables -----------------*/


table {
   width: 100%;
   border-collapse: collapse;
}

table .checkbox input[type="checkbox"] {
   position: relative;
   margin: 0;
}

table input {
   width: 100%;
}

#wisski-entity-list table th, 
#wisski-entity-list table td {
   vertical-align: top;
}

td.checkbox {
   width: 5%;
   min-width: 15px;
   max-width: 5%;
}

td.module {
   width: 25%;
   min-width: 30px;
   max-width: 25%;
}

td.description {
   width: 70%;
   min-width: 60px;
   max-width: 70%;
}

.module-description {
   word-break: break-all;
   white-space: normal;
}

.system-modules td details {
    height: auto;
}
