/**
 * @file
 * Visual styles for Wisski Propylaeum Layout.
 */

html {
  height: 100%;
}
body {
  background-color: #ededed;
  min-height: 100%;
  line-height: 1.5;
  word-wrap: break-word;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.3em;
  color: #656565;
}

.container {
  background: #fff;
}

#main {
  padding-bottom: 2em;
}

.path-frontpage #main {
  padding-bottom: 0;
}

.draggable a.tabledrag-handle .handle {
  width: 25px;
  height: 25px;
}

/* ------------------ Header ------------------ */
#header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header .section {
  position: relative;
}

.header {
  z-index: 0;
}

.region-header {
  padding: 0.1em 15px 5px;
  z-index: 0;
}

.region-header .site-branding {
  z-index: 0;
}

#banner img {
   margin: 0 -15px; 
   min-width: calc(100% + 30px);
}

#search-block-form {
  margin-bottom:5px;
}

#quick_search #search-block-form input {
  margin-left: 0px;
}

/* ------------------ Sidebar ----------------- */

@media all and (min-width: 560px) {
  .sidebar {
    float: right; /* LTR */
    position: relative;
    width: 50%;
  }

  [dir="rtl"] .sidebar {
    float: left;
  }
}

@media all and (min-width: 851px) {
  .sidebar .section {
    padding: 8px 5px 0;
  }

  .sidebar .block {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0 0 10px;
  }

  .sidebar h2 {
    margin: 0 0 0.5em;
    border-bottom: 1px solid  #ffe5c3;
    padding-bottom: 5px;
    text-shadow: 0 1px 1px  #ffe5c3;
    font-size: 1.071em;
    line-height: 1.2;
  }

  .sidebar .block .content {
    font-size: 0.914em;
    line-height: 1.4;
  }
  .sidebar tbody {
    border: none;
  }

  .sidebar tr.even,
  .sidebar tr.odd {
    background: none;
    border-bottom: 1px solid #d6d6d6;
  }
}


/* ------------- Footer --------------------*/
.container > footer {
  background: #ededed;
  margin: 0 -15px;
  padding: 15px;
  }

.region-footer {
  padding: 30px 40px 20px;
  font-family: Arial,sans-serif;
  font-size: 0.9em;
  text-shadow: 0 2px 2px #8d8d8d;
}

#logo_area {
  min-height: 135px;
}

#logo_area div {
  height: 135px;
  position: relative;
}


#logo_area div a {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: calc(100% - 30px);
}

#logo_area div a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 135px;;
}

/****Entity Print*****/
.print__wrapper--pdf {
  float: right;
  margin-top: -30px;
}
