/* --------------- Primary Menu ------------ */

#main_menu {
  clear: both;
  padding-right: 10px;
  z-index: 100;
  margin-top: 5px;
  margin-bottom: 5px;
}

#main_menu .menu {
  font-size: 1.3em;
  font-weight: normal;
  margin: 0;
}

#main_menu .menu .menu-item {
  padding: 0;
}

#main_menu .menu a {
  display: block;
  float: left;
  text-decoration: none;
  color: #555;
  text-transform: uppercase;
  font-style: normal;
  padding: 0px 10px;
  border-bottom: none;
  margin-right: 15px;
}

#main_menu .menu .has-submenu > span {
  display: block;
  float: left;
  text-decoration: none;
  color: #555;
  text-transform: uppercase;
  font-style: normal;
  padding: 0px 10px;
  border-bottom: none;
  margin-right: 15px;
}

#main_menu .menu-item:first-child a {
  padding: 0px 10px 0px 10px;
}

#main_menu .menu a:hover, #main_menu .menu a:focus {
  color: #0077bb;
}

#main_menu .menu .has-submenu {
  position: relative;
  float: left;
  margin-left: 10px;
}

#main_menu .menu > .has-submenu > a,
#main_menu .menu > .has-submenu > span {
  padding-left: 0px;
}

#main_menu .menu .has-submenu.menu-item--collapsed,
#main_menu .menu .has-submenu.menu-item--expanded {
  list-style-type: none;
  list-style-image: none;
}

#main_menu .menu .has-submenu.menu-item--collapsed > span.collapse-menu,
#main_menu .menu .has-submenu.menu-item--collapsed-static > span.collapse-menu { 
  content: ''; 
  margin-right: 5px;
  width: 10px;
  height: 10px;
  display: block;
  float: left;
  margin-top: 8px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #555;
  border-right: 5px solid transparent;
  padding: 0;
}

#main_menu .menu .has-submenu.menu-item--expanded > span.collapse-menu,
#main_menu .menu .has-submenu.menu-item--expanded-static > span.collapse-menu {
  content: '';
  margin-right: 5px;
  width: 10px;
  height: 10px;
  display: block;
  float: left;
  margin-top: 8px;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid #555;
  border-right: 5px solid transparent;
  padding: 0;
}


#main_menu .menu .has-submenu.menu-item--collapsed .menu,
#main_menu .menu .has-submenu.menu-item--collapsed-static .menu {
  display: none;
  position: absolute;
}

#main_menu .menu .has-submenu.menu-item--expanded .menu,
#main_menu .menu .has-submenu.menu-item--expanded-static .menu {
  display: block;
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.37);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.37);
  top: 25px;
  font-size: 1em;
  white-space: nowrap;
}

#main_menu .menu .has-submenu.menu-item--expanded .menu li a,
#main_menu .menu .has-submenu.menu-item--expanded-static .menu li a {
  margin-right: 0;
  text-transform: none;
  padding: 5px;
  width: 100%;
}

#main_menu .menu .has-submenu.menu-item--expanded .menu li a:hover,
#main_menu .menu .has-submenu.menu-item--expanded-static .menu li a:hover {
  background: #555;
  color: #fff;
}


/* --------------- Secondary Menu ------------ */


.region-service-menu {
  text-align: right;
}

#service_menu .navigation, #service_menu .block-language {
  display: inline-block;
  }

#service_menu .navigation {
  margin-top: 1.3em;
 }

#service_menu .menu .menu-item {
  padding-top: 0;
  float: right;
  margin-left: 20px;
}

#service_menu .menu a {
  color: #999;
  font-size: 1em;
}

#service_menu .menu a:hover,
#service_menu .menu a:focus {
  text-decoration: underline;
}

#service_menu .block-language {
  margin-left: -0.5em;
}

#service_menu .block-language ul {
  overflow: hidden;
}

#service_menu .links li {
  list-style: none;
  float: right;
}

#service_menu .links li img {
  margin-left: 0.5em;
}

#service_menu .links li:last-child img {
  margin-left: 0;
}

#service_menu .menu .has-submenu {
  position: relative;
  float: left;
}

#service_menu .menu .has-submenu.menu-item--collapsed .menu {
  display: none;
  position: absolute;
}

#service_menu .menu .has-submenu.menu-item--expanded .menu {
  display: block;
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.37);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.37);
  top: 20px;
  font-size: 1em;
  white-space: nowrap;
  margin: 0;
}

#service_menu .menu .has-submenu.menu-item--expanded .menu li {
  margin: 0;
  padding: 5px;
}

#service_menu .menu .has-submenu.menu-item--expanded .menu li a {
  margin-right: 0;
}

#service_menu .menu .has-submenu.menu-item--expanded .menu li a:hover {
  text-decoration: none;
}


/* --------------- Tabs ------------ */
div.tabs {
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

/* --------------- Primary Tabs ------------ */

.tabs ul.primary {
  font-family: Arial, sans-serif;
  margin-bottom: 15px;
}

.tabs ul.primary li a {
  border-radius: 0;
  text-shadow: 0 1px 0 #fff;
  background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  color: #333;
  background-color: #fff;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}

.tabs ul.primary li a:hover {
  border-radius: 0;
  text-shadow: 0 1px 0 #fff;
  color: #333;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #e0e0e0;
  border-color: #dbdbdb;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.tabs ul.primary li.is-active a {
  border-radius: 0;
  text-shadow: 0 1px 0 #fff;
  color: #333;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #e0e0e0;
  border-color: #dbdbdb;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/* --------------- Secondary Tabs ------------ */
.tabs ul.secondary {
  border-bottom: none;
  margin: 5px;
  padding: 0.5em 0;
  overflow: hidden;
}

.tabs ul.secondary li {
  border-right: 1px dotted #e35400;
  display: block;
  float: left; 
  margin: 0;
  padding: 0 1em;
}

[dir="rtl"] .tabs ul.secondary li {
  border-left: 1px dotted #e35400;
  border-right: none;
  float: right;
}

.tabs ul.secondary li:last-child {
  border-right: none; /* LTR */
}

[dir="rtl"] .tabs ul.secondary li:last-child {
  border-left: none;
}

.tabs ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}

[dir="rtl"] .tabs ul.secondary li:first-child {
  padding-right: 0;
}

.tabs ul.secondary li a {
  display: inline;
  padding: 2px 8px;
  text-decoration: none;
  text-shadow: 0 1px 2px #fafafa;
}
.tabs ul.secondary li a.is-active {
  color: #e35400;
  text-shadow: 0 1px 2px #fafafa;
  background-color: #ffffff;
  border-bottom: 2px solid #e35400;
}

.tabs ul.secondary li a:hover {
  background-color: #ffffff;
  border-bottom: 2px solid #ea7210;
}

/*-------------Toolbar---------------*/
body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
    margin-left: 0;
}

body.toolbar-tray-open.toolbar-vertical.user-logged-in {
    padding-top: 200px !important;
}

.toolbar .toolbar-tray-vertical.is-active, body.toolbar-fixed .toolbar .toolbar-tray-vertical {
    position: absolute;
    overflow: visible;
    height: auto;
}

.toolbar-oriented .toolbar-tray-vertical {
    width:100%;
}

.toolbar .toolbar-tray-vertical .menu-item {
    float: left;
    border: 1px solid #ddd;
}

.toolbar .toolbar-tray-vertical .menu-item.open {
    width: 100%;
}



/*-------------Responsive Menu------------*/
#responsive_side_branding > .site-branding {
  margin: 0;
}

@media screen and (max-width: 1200px) {
  #main_menu .menu {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 37.5em) { /* 600px */
  .tabs ul.primary {
    border-bottom: 1px solid #bbb;
    border-radius: 8px;
  }

  .tabs ul.primary li {
    display: block;
    margin: 0;
  }

  .tabs ul.primary li a {
    padding: 5px 10px;
  }
}

@media screen and (min-width: 37.5em) { /* 600px */
  .tabs ul.primary {
    border-collapse: collapse;
    height: auto;
    line-height: normal;
    padding: 0 3px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
  }

  .tabs ul.primary li {
    display: block;
    float: left; /* LTR */
    vertical-align: bottom;
    margin: 0 5px 0 0; /* LTR */
  }

  [dir="rtl"] .tabs ul.primary li {
    margin: 0 0 0 5px;
    float: right;
  }

  .tabs ul.primary li a {
    float: left; /* not LTR */
  }
}

@media screen and (min-width: 991px) {
  .responsive_nav {
    display: none;
  }

  .responsive__logo, .responsive__site_name {
    display: none;
  }

  .site-branding__site_name, .site-branding__site_name:hover, .site-branding__site_name:active, .site-branding__site_name:focus {
    color: #555;
    font-size: 20px;
    font-weight: bold;
    display: block;
  }
}

@media screen and (max-width: 990px) {

  #main_menu, 
  #quick_search, 
  #site_branding, 
  #service_menu, 
  #banner, 
  .site-branding__site_name {
    display:none;
  }

  .responsive__site_name, 
  .responsive__site_name:hover, 
  .responsive__site_name:active, 
  .responsive__site_name:focus {
    color: #555;
    font-size: 20px;
    font-weight: bold;
  }

  .responsive_nav {
    display:block;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    padding: 10px 15px;
    margin: 0 -15px;
    border-bottom: 1px solid #333;
  }

  .responsive_nav > .region-site-branding {
    width: calc(100% - 50px);
  }


  .responsive_nav .region-site-branding > .site-branding {
    margin: 0 !important;
  }

  .site-branding__logo {
    display:none;
  }

  .responsive__logo {
    display: block;
    width: calc(100% - 50px);
    }

  .responsive_nav .responsive__logo > .logo {
    max-height: 50px;
  }

  .responsive_nav #responsive_menu {
    display: none;
  }

  .responsive_nav #responsive_menu.responsive_menu_expanded {
    display: block;
    padding-top: 1em;
  }

  #responsive_menu .language-switcher-language-url > ul {
    list-style: none;
    padding: 0;
    float: right;
  }

  .responsive_nav #responsive_menu ul.menu {
    margin-left: 0;
  }

  .responsive_nav #responsive_menu ul li {
    padding: 0.3em 0;
  }

  .responsive_nav #responsive_menu ul.menu > li.menu-item--collapsed, 
  .responsive_nav #responsive_menu ul.menu > li.menu-item--expanded {
    list-style-type: none;
    list-style-image: none;
  }

  .responsive_nav #responsive_menu ul.menu > li.has-submenu > ul.menu {
    margin-left: 1em;
  }

  .responsive_nav a.responsive_nav_toggle {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 35px;
    height: 25px;
  }

  .responsive_nav_toggle > span::before, 
  .responsive_nav_toggle > span::after {
    background: #555;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
  }

  .responsive_nav_toggle > span::before {
    top: 0;
  }

  .responsive_nav_toggle > span::after {
    top: 9px;
  }

  .responsive_nav_toggle > span {
    border-bottom: 4px solid #555;
    text-indent: -9999px;
    width: 100%;
    height: 23px;
    overflow: hidden;
    display: block;
  }

  .responsive_nav_toggle.toggle_button_expanded > span {
    border-bottom: none;
  }

  .responsive_nav_toggle.toggle_button_expanded > span::before {
    top: 7px;
    transform: rotate(-405deg) translateY(1px) translateX(-2px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-2px);
  }

  .responsive_nav_toggle.toggle_button_expanded > span::after {
    top: 14px;
    transform: rotate(405deg) translateY(-3px) translateX(-4px);
    -webkit-transform: rotate(405deg) translateY(-3px) translateX(-4px);
  }


}
