.print__wrapper--pdf {
  display: none !important; 
}

.site-title-entity-print {
  font-weight: bold;
  display: block;
  text-align: right;
  width: 100%;
  margin-bottom: 10px;
}

.url-entity-print {
  display: block;
  text-align: right;
  width: 100%;
  text-decoration: underline;
  margin-bottom: 5px;
  font-size: 80%;
}

.date-entity-print {
  display: block;
  text-align: right;
  width: 100%;
  font-size: 80%;
}

hr.separator-entity-print {
  margin-top: 20px;
  margin-bottom: 30px;
}

.field::after { 
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}

.field {
  margin-bottom: 5px;
  background: #f1f1f1;
  padding: 0.5em 1em;
}

.field__label {
  width: 100%;
  font-weight: bold;
  color: #656565;
  word-wrap: break-word;
}

.field__items {
  width: 100%;
  word-wrap: break-word;
  color: #656565;
}

