.messages--error {
  display: none !important;
}

.responsive_nav, 
.responsive__logo {
  display:none;
}

.layout--twocol > .layout__region--top {
  margin-bottom: 1em !important;
}

.layout--twocol > .layout__region--bottom {
  margin-top: 1em !important;
}

.layout--twocol > .layout__region--first, .layout--twocol > .layout__region--second,
.ds-2col-stacked > .group-left, .ds-2col-stacked > .group-right {
   width: 100%; 
}

.path-wisski #block-wisski-mainpagecontent .field {
   margin-bottom: 0.3em;
   padding: 1em 1em;
   display: flex;
   flex-direction: row;
}

.path-wisski #block-wisski-mainpagecontent .field > .field__label {
   padding: 0em 1em 0 0;
   min-width: 200px;
   max-width: 200px;
}

.path-wisski #block-wisski-mainpagecontent .field.wisski-theme-group {
   display: block;
}

.path-wisski #block-wisski-mainpagecontent .field.wisski-theme-group .field {
   padding: 0;
   margin-left: 4em;
   margin-bottom: 0.5em;
}

.path-wisski #block-wisski-mainpagecontent .field.wisski-theme-group .field:last-child {
   margin-bottom: 0;
}

.path-wisski #block-wisski-mainpagecontent .field.wisski-theme-group .field.wisski-theme-group > .wisski-theme-group-items > div > .field,
.path-wisski #block-wisski-mainpagecontent .field.wisski-theme-group .field.wisski-theme-group > .field__item > .field {
   margin-left: 0;
}

.path-wisski #block-wisski-mainpagecontent .field > .field__items > .field__item.wisski-theme-repeated-field > .field:last-child {
   border-bottom: 1px dotted #565656;
   margin-bottom: 0.3em;
   padding-bottom: 0.3em;
}

.path-wisski #block-wisski-mainpagecontent .field > .field__items > .field__item.wisski-theme-repeated-field:last-child > .field:last-child {
   padding-bottom: 0;
   border-bottom: none;
   margin-bottom: 0;
}
