#edit-theme-settings > .details-wrapper,
#edit-logo > .details-wrapper,
#edit-favicon > .details-wrapper,
#edit-banner-settings > .details-wrapper,
#edit-footer-logo-settings > .details-wrapper {
   border-top: 1px solid #ddd;
   margin-bottom: 50px;
   padding-left: 40px;
}

#edit-theme-settings > .details-wrapper .form-item-sidebar,
#edit-theme-settings > .details-wrapper .form-item-quick-search-use {
   margin-bottom: 40px;
}

#edit-theme-settings > .details-wrapper .form-item-sidebar,
#edit-logo > .details-wrapper .form-item-responsive-logo {
   margin-top: 40px;
}


#edit-banner-settings legend, 
#edit-footer-logo-settings legend {
   width: 100%;
   font-weight: bold;
   text-transform: uppercase;
}

#edit-banner-image-fieldset > .fieldset-wrapper, 
#edit-second-banner-image-fieldset > .fieldset-wrapper,
#edit-left-footer-logo-fieldset > .fieldset-wrapper,
#edit-center-left-footer-logo-fieldset > .fieldset-wrapper,
#edit-center-right-footer-logo-fieldset > .fieldset-wrapper,
#edit-right-footer-logo-fieldset > .fieldset-wrapper {
   padding-left: 40px;
   margin-bottom: 40px;
}
