.layout--twocol > .layout__region--top {
  margin-bottom: 1em;
}

.layout--twocol > .layout__region--bottom {
  margin-top: 1em;
}

.layout--twocol > .layout__region--first, .layout--twocol > .layout__region--second,
.ds-2col-stacked > .group-left, .ds-2col-stacked > .group-right {
  width: 49.5%;
}

.layout--twocol > .layout__region--first,
.ds-2col-stacked > .group-left {
  margin-right: 0.5%;
}

.layout--twocol > .layout__region--second,
.ds-2col-stacked > .group-right{
  margin-left: 0.5%;
}

.path-wisski #block-wisski-mainpagecontent .field {
  margin-bottom: 0.3em;
  background: #f1f1f1;
  padding: 1em 1em;
  display: flex;
  flex-direction: row;
}

.path-wisski #block-wisski-mainpagecontent .field > .field__label {
  padding: 0em 1em 0 0;
  min-width: 200px;
  max-width: 200px;
}

.path-wisski #block-wisski-mainpagecontent .field > .field__item > p:last-child {
  margin-bottom: 0;
}

.path-wisski #block-wisski-mainpagecontent .field > .field__item.leaflet-item {
  width: 100%;
}   

.path-wisski #block-wisski-mainpagecontent .field.wisski-theme-group {
  display: block;
}

.path-wisski #block-wisski-mainpagecontent .field.wisski-theme-group .field {
  padding: 0;
  margin-left: 4em;
  margin-bottom: 0.5em;
}

.path-wisski #block-wisski-mainpagecontent .field.wisski-theme-group .field:last-child {
  margin-bottom: 0;
}

.path-wisski #block-wisski-mainpagecontent .field.wisski-theme-group .field.wisski-theme-group > .wisski-theme-group-items > div > .field,
.path-wisski #block-wisski-mainpagecontent .field.wisski-theme-group .field.wisski-theme-group > .field__item > .field {
  margin-left: 0;
}

.path-wisski #block-wisski-mainpagecontent .field > .field__items > .field__item.wisski-theme-repeated-field > .field:last-child {
  border-bottom: 1px dotted #565656;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
}

.path-wisski #block-wisski-mainpagecontent .field > .field__items > .field__item.wisski-theme-repeated-field:last-child > .field:last-child { 
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

/* Eingabefelder */

/************Felder***********/
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class^='field--type'], 
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class*=' field--type'] {
  background: #f1f1f1;
  margin-bottom: 0.3em;
}

.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class^='field--type'].form-wrapper,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class*=' field--type'].form-wrapper {
  padding: 5px;
}

.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class^='field--type'].form-wrapper .form-wrapper .form-wrapper,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class*=' field--type'].form-wrapper .form-wrapper .form-wrapper {
  padding: 0px;
  margin-top: 5px;
}


.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class^='field--type'] .form-item, 
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class*=' field--type'] .form-item {
  margin: 0;
}

.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form h4.label,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form label,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form span.fieldset-legend {
  font-size: 1em;
  color: #656565;
  font-weight: 700;
  padding: 0;
  text-align: left;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.5;
}

.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form legend {
  margin-bottom: 0;
}

.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form > .field--type-entity-reference > div > fieldset.form-item > .fieldset-wrapper > fieldset.ief-form > .fieldset-wrapper > .form-wrapper,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form > .field--type-entity-reference > div > fieldset.form-item > .fieldset-wrapper > table.ief-entity-table > tbody > .ief-row-form {
  border: 1px solid #aaa;
  background: #dfdfdf;
}

.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form > .field--type-entity-reference > div > fieldset.form-item > .fieldset-wrapper > table.ief-entity-table > tbody > .ief-row-form details > .details-wrapper,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form > .field--type-entity-reference > div > fieldset.form-item > .fieldset-wrapper > table.ief-entity-table > tbody > .ief-row-form details > summary,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form > .field--type-entity-reference > div > fieldset.form-item > .fieldset-wrapper > table.ief-entity-table > tbody > .ief-row-form .form-wrapper .form-wrapper {
  border: none;
  background: #dfdfdf;
}

.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form > .field--type-entity-reference > div > fieldset > .fieldset-wrapper > table.ief-entity-table > tbody > .ief-row-form > td {
  padding: 5px;
}

.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form > .field--type-entity-reference > div > fieldset > .fieldset-wrapper > table.ief-entity-table > tbody > .ief-row-entity-form > td.inline-entity-form-wisski_individual-label {
  padding: 5px;
  }

.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form > .field--type-entity-reference > div > fieldset > .fieldset-wrapper > table.ief-entity-table > tbody > .ief-row-form .field--type-string,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form > .field--type-entity-reference > div > fieldset.form-item > .fieldset-wrapper > fieldset.ief-form > .fieldset-wrapper > .form-wrapper > .field--type-string,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form > .field--type-entity-reference > div > fieldset > .fieldset-wrapper > table.ief-entity-table > tbody > .ief-row-form .field--type-list-string,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form > .field--type-entity-reference > div > fieldset > .fieldset-wrapper > table.ief-entity-table > tbody > .ief-row-form .field--type-text-long,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form > .field--type-entity-reference > div > fieldset > .fieldset-wrapper > table.ief-entity-table > tbody > .ief-row-form .field--type-image,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form > .field--type-entity-reference > div > fieldset.form-item > .fieldset-wrapper > fieldset.ief-form > .fieldset-wrapper > .form-wrapper .field--type-image,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form > .field--type-entity-reference > div > fieldset > .fieldset-wrapper > table.ief-entity-table > tbody > .ief-row-form .field--type-image .description,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form > .field--type-entity-reference > div > fieldset.form-item > .fieldset-wrapper > fieldset.ief-form > .fieldset-wrapper > .form-wrapper .field--type-image .description {
  padding: 0;
}

.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form  > .field--type-entity-reference > div > fieldset > .fieldset-wrapper > table.ief-entity-table > tbody > .ief-row-form .ief-form-row > .form-wrapper div > .form-item > .fieldset-wrapper > .geofield-map-message {
  color: #656565;
  }

.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form  > .field--type-entity-reference > div > fieldset > .fieldset-wrapper > table.ief-entity-table > tbody > .ief-row-form .ief-form-row > .form-wrapper div > .form-item > .fieldset-wrapper > .geofield-map-widget {
  border: 1px solid #efefef;
  margin-bottom: 10px;
  }


.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class^='field--type'] .form-item > .fieldset-wrapper > .form-wrapper > .fieldset-wrapper > .form-wrapper {
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: transparent;
    padding: 5px;
}

.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form .form-item > .fieldset-wrapper > .form-wrapper > .fieldset-wrapper > .form-wrapper div[id*='actions'] {
    padding: 5px;
}


.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class^='field--type'] .form-item > .fieldset-wrapper > .form-wrapper > .fieldset-wrapper > .form-wrapper div[class^='field--type'],
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class^='field--type'] .form-item > .fieldset-wrapper > .form-wrapper > .fieldset-wrapper > .form-wrapper div[class*=' field--type'] {
    background: transparent;
}

.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class^='field--type'] .form-item input {
   margin-left: 0;
}

.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class^='field--type'] .form-item > .fieldset-wrapper .form-wrapper > .form-item input,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class*=' field--type'] .form-item > .fieldset-wrapper .form-wrapper > .form-item input,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class^='field--type'] .form-item > .fieldset-wrapper .form-wrapper > .form-item textarea,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class*=' field--type'] .form-item > .fieldset-wrapper .form-wrapper > .form-item textarea,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class*=' field--type'] .form-item > .fieldset-wrapper .form-wrapper > .form-item select.form-select,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class^='field--type'] .form-item > .fieldset-wrapper .form-wrapper > .form-item select.form-select,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class*=' field--type'] .form-item > .fieldset-wrapper .form-wrapper > .form-item .cke_chrome,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class^='field--type'] .form-item > .fieldset-wrapper .form-wrapper > .form-item .cke_chrome,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class^='field--type'] .form-item > .fieldset-wrapper table .form-item input,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class*=' field--type'] .form-item > .fieldset-wrapper table .form-item input,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class^='field--type'] .form-item > .fieldset-wrapper table .form-item textarea,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class*=' field--type'] .form-item > .fieldset-wrapper table .form-item textarea,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class*=' field--type'] .form-item > .fieldset-wrapper table .form-item select.form-select,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class^='field--type'] .form-item > .fieldset-wrapper table .form-item select.form-select,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class*=' field--type'] .form-item > .fieldset-wrapper table .form-item .cke_chrome,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class^='field--type'] .form-item > .fieldset-wrapper table .form-item .cke_chrome {
    margin-left: 0;
    border: 1px solid #aaa;
    padding: 5px;
}

.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class^='field--type'] .form-item input:focus-visible,
.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form div[class*=' field--type'] .form-item input:focus-visible {
    border: inherit;
}

/*********** Buttons ***************/
.path-wisski #block-wisski-mainpagecontent form input[data-drupal-selector$="actions-ief-add"],
.path-wisski #block-wisski-mainpagecontent form input[data-drupal-selector$="actions-ief-edit-save"],
.path-wisski #block-wisski-mainpagecontent form input[data-drupal-selector$="actions-ief-add-save"],
.path-wisski #block-wisski-mainpagecontent form input[data-drupal-selector$="actions-ief-add"]:focus-visible,
.path-wisski #block-wisski-mainpagecontent form input[data-drupal-selector$="actions-ief-edit-save"]:focus-visible,
.path-wisski #block-wisski-mainpagecontent form input[data-drupal-selector$="actions-ief-add-save"]:focus-visible,
.path-wisski #block-wisski-mainpagecontent form input.field-add-more-submit {
    border-color: #279837 !important;
}

.path-wisski #block-wisski-mainpagecontent form input[data-drupal-selector$="actions-ief-entity-remove"],
.path-wisski #block-wisski-mainpagecontent form input[data-drupal-selector$="actions-ief-edit-cancel"],
.path-wisski #block-wisski-mainpagecontent form input[data-drupal-selector$="actions-ief-add-cancel"],
.path-wisski #block-wisski-mainpagecontent form input[data-drupal-selector$="actions-ief-entity-remove"]:focus-visible,
.path-wisski #block-wisski-mainpagecontent form input[data-drupal-selector$="actions-ief-edit-cancel"]:focus-visible,
.path-wisski #block-wisski-mainpagecontent form input[data-drupal-selector$="actions-ief-add-cancel"]:focus-visible {
    border-color: #900 !important;
}

.path-wisski #block-wisski-mainpagecontent form input[data-drupal-selector$="actions-ief-entity-edit"],
.path-wisski #block-wisski-mainpagecontent form input[data-drupal-selector$="actions-ief-entity-edit"]:focus-visible {
    border-color: #555 !important;
}

.path-wisski #block-wisski-mainpagecontent form.wisski-individual-form #edit-actions {
    position: sticky;
    bottom: 0px;
    background: #fff;
}

@media only screen and (max-width: 990px) {
  .layout--twocol > .layout__region--first, 
  .layout--twocol > .layout__region--second {
    flex: 0 1 100%;
    margin: 0;
  }
}
