{% extends "block.html.twig" %}
{#
/**
 * @file
 * theme implementation for a branding block.
 *
 */
#}
{% set attributes = attributes.addClass('site-branding') %}
{% block content %}
  {% if site_logo and responsive_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-branding__logo">
      <img class="logo" src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="responsive__logo">
      <img class="logo" src="{{ responsive_logo }}" alt="{{ 'Home'|t }}" />
    </a>
  {% elseif site_logo and  not responsive_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-branding__logo">
      <img class="logo" src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="responsive__site_name">
      {{ site_name }}
    </a>
  {% else %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-branding__site_name">
      {{ site_name }}
    </a>
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="responsive__site_name">
      {{ site_name }}
      {% if site_slogan %}
        <div class="site-branding__slogan">{{ site_slogan }}</div>
      {% endif %}
    </a>
  {% endif %}
{% endblock %}
