<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  {{ entity_print_css }}
</head>
<body>
  <span class="site-title-entity-print">{{ site }}</span>
  <span class="url-entity-print">{{ path }}{{  url }}</span>
  <span class="date-entity-print">{{ 'now'|date('U')|format_date('short_dmyyyy') }}</span>
  <hr class="separator-entity-print">
  <div class="content-entity-print">
      {{ content }}
  </div>
</body>
</html>
