{#
/**
 * @file
 * Theme override for a set of links.
 *
 * @see template_preprocess_links()
 */
#}
{% if links -%}
  {%- if heading -%}
    {%- if heading.level -%}
      <{{ heading.level }}{{ heading.attributes }}>{{ heading.text }}</{{ heading.level }}>
    {%- else -%}
      <h2{{ heading.attributes }}>{{ heading.text }}</h2>
    {%- endif -%}
  {%- endif -%}
  <ul{{ attributes }}>
    {%- for item in links -%}
      <li{{ item.attributes }}>
         {%- if item.link -%}
          {% set language_id = item.attributes['class'] %}
          <a href="{{ base_path }}{% if (langauge_id != default_language) or (default_language_prefix != '') %}{% for key, prefix in prefixes %}{% if key == language_id %}{{ prefix }}{% if prefix != '' %}/{% endif %}{% endif %}{% endfor %}{% endif %}{{ current_path }}" title="{{ item.link['#title'] }}" hreflang="{{ item.attributes['class'] }}" class="{{ item.link['#options'].attributes.class|join(' ') }}"><img src="{{ base_path ~ directory}}/flags/flag_{{ item.attributes['class'] }}.gif" alt="{{ item.link['#title'] }}" /></a>
        {%- elseif item.text_attributes -%}
          <span{{ item.text_attributes }}>{{ item.text }}</span>
        {%- else -%}
          {{ item.text }}
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
{%- endif %}

