{#
/**
 * @file
 * theme implementation to display a single page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page" class="layout-container frontpage">
  <div class="container">
    <header id="header" class="header" role="banner">
      <div class="responsive_nav">
        {{ page.site_branding }}
        <!-- Navigation links (hidden by default) -->
        <div id="responsive_menu">
          {{ page.service_menu }}
          {{ page.secondary_menu }}
          {{ page.main_menu }}
          {% if quick_search_use == 1 %}
             {{ page.quick_search }}
          {% endif %}
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" onclick="toggleMenu(this.id)" id="responsive_nav_toggle" class="responsive_nav_toggle">
            <span>Open Menu</span>
        </a>
      </div>
       <div class="row">
          <div id="site_branding" class="col-md-6 col-sm-6 col-xs-12">{% if logo %}{{ logo }}{% else %}{{ page.site_branding }}{% endif %}</div>
          <div id="service_menu" class="col-md-6 col-sm-6 col-xs-12">{{ page.service_menu }}</div>
       </div>
       <div class="row">
          <section id="main_menu" class="{% if quick_search_use == 1 %}col-md-8{% else %}col-md-12{% endif %} col-sm-12 col-xs-12">
            {{ page.secondary_menu }}
            {{ page.main_menu }}
          </section>
          {% if quick_search_use == 1 %}
          <section id="quick_search" class="col-md-4 col-sm-12 col-xs-12">
            {{ page.quick_search }}
          </section>
          {% endif %}
       </div>
       {% if banner_image_hide == 0 %}
       <div class="row">
          <section id="banner" class="col-md-12 col-sm-12 col-xs-12"><img class="img-fluid img-responsive" src="{% if banner_image %}{{ banner_image }}{% else %}{{ base_path ~ directory}}/{{ banner_image_default }}{% endif %}"></section>
       </div>
       {% endif %}
    </header>
    <div id="main" class="layout-main clearfix">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
           {{ page.highlighted }}

           {{ page.help }}
          </div>
         </div>
      </div>
 
      <main role="main">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 panel-row">
                  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
                  {{ page.content }}
            </div>
          </div>
        </div>
       </main> 
  </div>
     <footer role="contentinfo">
         {% if page.footer %}
         <div class="row">
             <div class="footer-text col-md-12 col-sm-12 col-xs-12">
                {{ page.footer }}
             </div>
         </div>
         {% endif %}
          <div id="logo_area" class="row">
             <div id="footer_logo_left" class="col-md-3 col-sm-12 col-xs-12">
               {% if footer_logo_left_hide == 0 %}
                 {% if left_footer_logo_url %}
                 <a href="{{ left_footer_logo_url }}" title="{{ left_footer_logo_title }}">
                 {% endif %}
                 {% if (footer_logo_left or footer_logo_left_default) %}
                 <img class="img-responsive" src="{% if footer_logo_left %}{{ footer_logo_left }}{% else %}{{ base_path ~ directory}}/{{ footer_logo_left_default }}{% endif %}">
                 {% endif %}
                 {% if left_footer_logo_url %}
                 </a>
                 {% endif %}
               {% endif %}
             </div>
             <div id="footer_logo_center_left" class="col-md-3 col-sm-12 col-xs-12">
               {% if footer_logo_center_left_hide == 0 %}
                 {% if center_left_footer_logo_url %}
                 <a href="{{ center_left_footer_logo_url }}" title="{{ center_left_footer_logo_title }}">
                 {% endif %}
                 {% if (footer_logo_center_left or footer_logo_center_left_default) %}
                 <img class="img-responsive" src="{% if footer_logo_center_left %}{{ footer_logo_center_left }}{% else %}{{ base_path ~ directory}}/{{ footer_logo_center_left_default }}{% endif %}">
                 {% endif %}
                 {% if left_footer_logo_url %}
                 </a>
                 {% endif %}
               {% endif %}
             </div>
             <div id="footer_logo_center_right" class="col-md-3 col-sm-12 col-xs-12">
               {% if footer_logo_center_right_hide == 0 %}
                 {% if center_right_footer_logo_url %}
                 <a href="{{ center_right_footer_logo_url }}" title="{{ center_right_footer_logo_title }}">
                 {% endif %}
                 {% if (footer_logo_center_right or footer_logo_center_right_default) %}
                 <img class="img-responsive" src="{% if footer_logo_center_right %}{{ footer_logo_center_right }}{% else %}{{ base_path ~ directory}}/{{ footer_logo_center_right_default }}{% endif %}">
                 {% endif %}
                 {% if center_right_footer_logo_url %}
                 </a>
                 {% endif %}
               {% endif %}
             </div>
             <div id="footer_logo_right" class="col-md-3 col-sm-12 col-xs-12">
               {% if footer_logo_right_hide == 0 %}
                 {% if right_footer_logo_url %}
                 <a href="{{ right_footer_logo_url }}" title="{{ right_footer_logo_title }}">
                 {% endif %}
                 {% if (footer_logo_right or footer_logo_right_default) %}
                 <img class="img-responsive" src="{% if footer_logo_right %}{{ footer_logo_right }}{% else %}{{ base_path ~ directory}}/{{ footer_logo_right_default }}{% endif %}">
                 {% endif %}
                 {% if right_footer_logo_url %}
                 </a>
                 {% endif %}
               {% endif %}
             </div>
         </div>
    </footer>
  </div>
</div>{# /.layout-container #}
                                            
