{#
/**
 * @file
 * theme implementation to display a single page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container subpage admin-layout-container">
  <div class="container admin-container">
  <div id="main" class="layout-main clearfix">
           {{ page.breadcrumb }}

           {{ page.highlighted }}

           {{ page.help }}
     
      <main role="main">
         <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
         {{ page.content }}
         {% if page.sidebar_first %}
           <div id="sidebar-first" class="column sidebar">
             <aside class="section" role="complementary">
               {{ page.sidebar_first }}
             </aside>
           </div>
         {% endif %}

         {% if page.sidebar_second %}
           <div id="sidebar-second" class="column sidebar">
             <aside class="section" role="complementary">
              {{ page.sidebar_second }}
             </aside>
           </div>
         {% endif %}
      </main>
  </div>
 </div>

</div>{# /.layout-container #}
