{% extends "region.html.twig" %}
{#
/**
 * @file
 * theme implementation to display a header region.
 *
 *
 * @see template_preprocess_region()
 */
#}
{% set attributes = attributes.addClass('clearfix') %}
